:root {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    border: 4px solid #fef;
    border-radius: 15px;
    background-color: #ddd;
    min-width: 300px;
    max-width: 30%;
    margin: 10vh auto;
    min-height: 60vh;
    text-align: inherit;
}

#input-section {
    margin: 20px auto;
    width: 80%;
    padding: 12px 20px;
}

#input:focus {
    border: none;
}

#button, #input {
    background-color: #fef;
    border-radius: 15px;
    display: block;
    border: 1px solid red;
    margin: 8px auto;
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: inherit;
}

#button:hover {
    cursor: pointer;
    opacity: .8;
}

p {
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: left;
    font-size: 0.8em;
}

.strike {
    text-decoration: line-through;
    background: none;
}

.delete {
    display: none;
}

.list-item {
    width: 90%;
    margin: 5px 15px 5px 0px;
    cursor: pointer;
    background-color: lightcoral;
    padding: 10px;
    border-radius: 5px;
}

span {
    float: right;
    cursor: pointer;
}